@charset "UTF-8";

body {
    background-color: #efeff6;
    -webkit-font-smoothing: antialiased;
}

/* ----- All Item in Navbar ----- */
.dashboard-header .navbar {
    padding: 0px;
    border-bottom: 1px solid #e6e6f2;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    min-height: 60px;
}

.navbar-brand {
    display: inline-block;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    padding: 11px 20px;
}

.navbar-right-top .nav-item {
    border-right: 1px solid #e6e6f2;
    padding-right: 10px;
}

.navbar-right-top .nav-item:last-child {
    border: none;
}

.navbar-right-top .nav-item .nav-link {
    padding: 13px 20px;
    font-size: 16px;
    line-height: 2;
    color: #9F2927;

}

/* Search bar */
.top-search-bar {
    padding-top: 12px;
    padding-right: 24px;
}

/* Notification */
.indicator {
    content: '';
    position: absolute;
    top: 16px;
    right: 23px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #ef172c;
    animation: .9s infinite beatHeart;
    transform-origin: center;
}

@keyframes beatHeart {
    0% {
        transform: scale(0.9);
    }
    25% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(0.9);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}

/* Dropdown in Navbar */
.nav-user-dropdown {
    padding: 0px;
    min-width: 230px;
    margin: 0px;
}

.nav-user-info {
    background-color: #fff;
    line-height: 1.4;
    padding: 12px;
    color: #9F2927;
    font-size: 13px;
    border-radius: 2px 2px 0 0;
}

.nav-user-info .status {
    float: left;
    top: 7px;
    left: 0px;
}

.nav-user-dropdown .dropdown-item {
    display: block;
    width: 100%;
    padding: 12px 22px 15px;
    clear: both;
    font-weight: 400;
    color: #9F2927;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 13px;
    line-height: 0.4;
}

.nav-user-dropdown .dropdown-item:hover {
    background-color: #f7f7fb;
    color: #000000;
}

.user-avatar-md {
    height: 32px;
    width: 32px;
}


/* ----- All of Typography ----- */
h1 {
    font-size: 34px;
}

h5 {
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.current-plant-font {
    color: #9F2927;
}

.modal-title {
    color : #9F2927;
}

.fa-sm {
    font-size: 24px !important;
}

.fa-xs {
    font-size: 11px !important;
}

/* ----- form ----- */
.form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #9F2927;
    border-radius: 2px;
}

/* ----- All item in dashboard ----- */

.dashboard-wrapper {
    margin-top: 70px;
    position: relative;
    left: 0;
    min-height: 870px !important;
  
}
.card {
    margin-bottom: 30px;
    border: none;
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    border-radius: 10px;
    
}

.card-body {
    text-align: center;
    color: #fff;
}

.card-header {
    background: #fff;
    color: #9F2927 ;
    font-weight: bold;
    font-size: large;
}

.card-title {
    color: #000000;
}

.dashboard-content {
    padding: 30px 30px 60px 30px;
}

.report-list {
    background: #FCE4E4;
    color: #9F2927;
}

.btn {
    background: #9F2927;
    color: #fff;
    border-radius: 10px;
    
}

.myBtn_multi{
    background: #9F2927;
    color: #fff;
    border-radius: 10px;
    border-color: #9F2927;
}

.btn:hover {
    color: #fff;
}

.footer {
    padding: 10px;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    min-height: 60px;
    text-align: center;
}

/* Dropdown in card/container */
.dropdown-item {
    text-align: center;
}

.dropdown-menu {
    min-width: 30px;
}

.red-header {
    background: #9F2927;
    color: #fff;
}

.input-group-text {
    background: #9F2927;
    color: #fff;
}

.form-check-label{
    color: #9F2927;
}

.user-data {
    margin-top: 20px;
}

/* Account */

.account-menu {
    color: #9F2927;
}

.label-setting {
    color: #000000;
}

.quantity  {
    display: inline-block; 
}
   
.quantity .input-text.qty {
    width: 100px;
    height: 50px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background-color: transparent;
    border: 1px solid #9F2927;
   }

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
    border-color: #9F2927;
}
    
